## Prueba pandas

In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

Pruebas con Series

In [5]:
arr = np.arange(10,60,10)
s1 = Series(arr)
s1

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [6]:
s1.values

array([10, 20, 30, 40, 50])

In [7]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
s2 = Series(arr, index=list('abcde'))
s2

a    10
b    20
c    30
d    40
e    50
dtype: int32

In [9]:
s3 = Series(arr, index=list('bcdef'))
s3

b    10
c    20
d    30
e    40
f    50
dtype: int32

In [18]:
suma=s2 + s3
suma

a     NaN
b    30.0
c    50.0
d    70.0
e    90.0
f     NaN
dtype: float64

In [19]:
suma.isnull()

a     True
b    False
c    False
d    False
e    False
f     True
dtype: bool

In [11]:
s2 * 100

a    1000
b    2000
c    3000
d    4000
e    5000
dtype: int32

In [12]:
s2.sum()

150

In [13]:
np.sum(s2)

150

In [15]:
s2[0], s2['b']

(10, 20)

In [17]:
s2[s2 > 25]

c    30
d    40
e    50
dtype: int32

Pruebas con DataFrame

In [20]:
m = np.arange(25).reshape(5,5)
dt = DataFrame(m)
dt

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [21]:
d = {chr(i):list(range(10)) for i in range(65,70)}
d

{'A': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 'B': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 'C': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 'D': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 'E': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]}

In [22]:
dt2 = DataFrame(d)
dt2

   A  B  C  D  E
0  0  0  0  0  0
1  1  1  1  1  1
2  2  2  2  2  2
3  3  3  3  3  3
4  4  4  4  4  4
5  5  5  5  5  5
6  6  6  6  6  6
7  7  7  7  7  7
8  8  8  8  8  8
9  9  9  9  9  9